<% provide(:title, '拠点情報追加') %>
<% provide(:class_text, 'signup') %>
<% provide(:button_text, '拠点追加') %>
<h1>拠点情報登録</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'base_form' %>
  </div>
</div>